<div class="row">
  <div class="col-12 col-md-9 pr-0">
    <div class="cover-image">
      <% if @user.cover_image.attached? %>
        <%= image_tag @user.cover_image %>
      <% else %>
        <%= image_tag "default-cover.jpg" %>
      <% end %>
    </div>
    <%= render 'home/tab' %>
    <%= render  "layouts/flash" %>
    
    <div class="card m-4">
      <div class="card-body">
        <p class="card-title">THOUGHTS ABOUT SOMETHING</p>
        <%= form_with(model: @thought, method: 'post', local: true) do |form| %>
          <%= form.hidden_field :author_id, value: current_user.id %>
          <div class="input-group">
            <%= form.text_area(:text, rows: 2, class: "form-control") %>
            <div class="input-group-append">
              <%= form.submit 'Publish', class: 'btn btn-outline-secondary', id: 'button-addon2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title">User thoughts</h5>
        <hr>
        <% if @user.thoughts.size.zero? %>
          <p>You don't have any thoughts yet</p>
        <% else %>
          <% @user.thoughts.each do |thought| %>
            <%= render thought %>
          <% end %>
        <% end %>
       </div>
    </div>
  </div>
  <div class="col-12 col-md-3 border-left full-screen-right p-0">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex m-2 align-items-center show-options">
        <% if following?(@user) %>
          <%= render 'users/unfollow', user: @user %>
        <% else %>
          <%= render 'users/follow', user: @user %>
        <% end %>
        <% if @user.photo.attached? %>
          <%= image_tag @user.photo, height: 80, width: 80, class: "user-options" %>
        <% else %>
          <%= image_tag "default-photo.jpg", height: 80, width: 80, class: "user-options" %>
        <% end %>
        <button class="btn btn-outline-dark user-options ml-2 p-2"><i class="fas fa-list"></i></button>
      </div>
      <p class="mb-1"><%= @user.fullname %></p>
      <small>@<%= @user.username %></small>
    </div>
    <hr class="mt-1 mb-0">
    <div class="row user-info">
      <div class="col-4 px-0 py-2 d-flex flex-column align-items-center">
        <small>Thoughts</small>
        <small><%= @user.thoughts.size %></small>
      </div>
      <div class="col-4 px-0 py-2 border-left border-right d-flex flex-column align-items-center">
        <small>Followings</small>
        <small><%= @user.followeds.size %></small>
      </div>
      <div class="col-4 px-0 py-2 d-flex flex-column align-items-center">
        <small>Followers</small>
        <small id="number-followers"><%= @user.followers.size %></small>
      </div>
    </div>
    <hr class="mt-0 mb-1">
    <div>
      <p class="m-3">Followed by:</p>
    </div>
    <hr>
    <div class="followers">
      <% @user.followers.each do |user| %>
        <%= render user %>
      <% end %>
    </div>
  </div>
  
</div>
