<div class="row">
  <div class="col-12 col-md-9 pr-0">
    <%= render 'home/tab' %>
    
    <div class="card m-4">
      <div class="card-body">
        <p class="card-title">THOUGHTS ABOUT SOMETHING</p>
        <%= form_with(model: @thought, method: 'post', local: true) do |form| %>
          <%= form.hidden_field :author_id, value: current_user.id %>
          <div class="input-group">
            <%= form.text_area(:text, rows: 2, class: "form-control") %>
            <div class="input-group-append">
              <%= form.submit 'Publish', class: 'btn btn-outline-secondary', id: 'button-addon2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title">New thoughts</h5>
        <hr>
        <% if @thoughts.size.zero? %>
          <p>You don't have any thoughts yet</p>
        <% else %>
          <%= render @thoughts %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-12 col-md-3 border-left full-screen-right">
    <div>
      <p class="m-3">Who to follow</p>
    </div>
    <hr>
    <div>
    <% @to_follow.each do |user| %>
      <%= render 'users/user', user: user %>
    <% end %>
    </div>
  </div>
  
</div>
