<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @thought.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @thought.author %>
</p>

<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %>
