<div class="full-screen bg-dark text-white  sticky-top position-sticky">
  <div class="sticky-top position-sticky">
    <div class="d-flex justify-content-center align-items-center p-3">
      <% if current_user.photo.attached? %>
      <%= link_to(image_tag(current_user.photo, class: "profile-picture"), me_path) %>
      <% else %>
        <%= link_to(image_tag("default-photo.jpg", class: "profile-picture"), me_path) %>
      <% end %>
      <p class="mb-0 ml-3" ><%= link_to current_user.fullname, me_path, class: "white-color" %></p>
    </div>
    <hr class="m-0">
    <div class="row user-info">
      <div class="col-6 px-0 py-2 border-right d-flex flex-column align-items-center border-secondary">
        <small>Followings</small>
        <small id="number-followings"><%= current_user.followeds.size %></small>
      </div>
      <div class="col-6 px-0 py-2 d-flex flex-column align-items-center">
        <small>Followers</small>
        <small><%= current_user.followers.size %></small>
      </div>
    </div>
    <hr class="my-0">
    <div class="list-group" id="list-tab" role="tablist">
      <%= link_to  "Home", root_path, class: "list-group-item list-group-item-action sidenav-link", id: "list-home-list", role: "tab" %>
      <%= link_to  "Profile", me_path, class: "list-group-item list-group-item-action sidenav-link", id: "list-profile-list", role: "tab" %>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
</div>