<!DOCTYPE html>
<html>
  <head>
    <title>Let Learn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>
          <div class="d-none d-md-block col-md-3 col-lg-2 p-0">
            <%= render 'layouts/sidenav' %>
          </div>
          <div class="col-12 col-md-9 col-lg-10 p-0">
            <%= render 'layouts/navbar' %>
            <%= render  "layouts/flash" %>
            <%= yield %>
          </div>
        <% else %>
          <div class="col-12 p-0">
            <%= render 'layouts/navbar' %>
            <%= render  "layouts/flash" %>
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>

